@page
@model MegaDeskRazor.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="DeskQuote.CustomerName" class="control-label">Customer Name</label>
                <input asp-for="DeskQuote.CustomerName" class="form-control" />
                <span asp-validation-for="DeskQuote.CustomerName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DeskQuote.Desk.DrawerNum" class="control-label">Number of Drawers</label>
                <input asp-for="DeskQuote.Desk.DrawerNum" class="form-control" name="drawernum" min="0" max="7"/>
                <span asp-validation-for="DeskQuote.Desk.DrawerNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Desk.Width" class="control-label">Desk Width</label>
                <input asp-for="DeskQuote.Desk.Width" class="form-control" name="width" min="24" max="96" />
                <span asp-validation-for="DeskQuote.Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Desk.Depth" class="control-label">Desk Depth</label>
                <input asp-for="DeskQuote.Desk.Depth" class="form-control" name="depth"  min="12" max="48"/>
                <span asp-validation-for="DeskQuote.Desk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Desk.SurfaceMaterial" class="control-label">Surface Material</label>
                <select asp-for="DeskQuote.Desk.SurfaceMaterial" class="form-control" name="surfaceMaterial">
                    <option value="Oak">Oak </option>
                    <option value="Laminate">Laminate </option>
                    <option value="Pine">Pine </option>
                    <option value="Rosewood">Rosewood</option>
                    <option value="Veneer">Veneer</option>

                </select>
                <span asp-validation-for="DeskQuote.Desk.SurfaceMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.ProductionTime" class="control-label">Shipping Time</label>
                <select asp-for="DeskQuote.ProductionTime" class="form-control" name="productionTime" >
                    <option value="3">3 days</option>
                    <option value="5">5 days</option>
                    <option value="7">7 days</option>
                    <option value="14">14 days</option>
                   </select>
                <span asp-validation-for="DeskQuote.ProductionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
